<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Please Log In</title>
  <!-- <script th:src="@{/js/libs/axios.min.js}"></script> -->
</head>

<body>
  <div>
    <h1>Please Log In</h1>
    <div id="loginMessage" style="display: none;"></div>
    <form th:action="@{/auth/login}" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" /><br />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" /><br />
      <button type="submit">Log in</button>
    </form>
  </div>
</body>

</html>